.loginbar {
    background-color: rgb(89, 54, 12);
    padding: 8px;
}

.loginspan {
    border: 1px solid rgba(0, 0, 0, 0.318);
    padding: 2px;
    margin-left: 4px;
}

.loginspan > b > * {
    color: rgb(243, 243, 243);
    text-decoration: none;
}

.loginspan  > * :hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}